<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <!--Scripts and Styles-->
    <script src="../Assets/Scripts/jquery-2.1.3.min.js"></script>
    <script src="../Assets/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../Assets/Styles/home_styles.css">
    <!--Scripts and Styles-->

    <!--Header-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="user_homepage.html" class="navbar-brand">Compnay Name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Header-->

    <div class="container-fluid">
    </div>

    <!--Footer-->
    <footer>
        <div class="container text-center">
            <p class="pull-left">© Company Name</p>
        </div>
    </footer>
    <!--Footer-->

</body>
</html>